<p id="notice"><%= notice %></p>
<%= provide(:author, 'active') %>

<div class = "row">
  <div class = "col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @post.title %></h1>
    <p><%= @post.create_date_published  %></p>
    <%= @post.body %>
  </div>
</div>

